section.atalas#atalas
    .flex.flex--space-around
        //.col-50.flex.flex--center.order-first
        .col-1
            p.home-lead.outdented ...Explore the data on the maps...
            a(href="../assets/data-assets/map.html").home-cta View the Maps

        .col-1
            .mapshot

