section.brief#about
  .flex.flex--space-around
    .col-1.intro
      h2 About Us
      p We are compiling information from thousands of archaeological sites into a single database, which allows us to study why some societies flourished while others did not.

    .col-1.order-first
      .captionphoto

